@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");

/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before,
  &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

a {
  &:focus,
  &:active {
    outline: none;
  }
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  &::-ms-clear {
    display: none;
  }
}

button {
  cursor: pointer;
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

a {
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #808080;
}

main {
  min-height: 100vh;
  color: #f2f3f4;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  column-gap: 15px;
  justify-content: center;
}

nav.navigation {
  position: relative;
  background-color: #ab7373;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 4px 1px 31px 1px #ab7373;
  -moz-box-shadow: 4px 1px 31px 1px #ab7373;
  box-shadow: 4px 1px 31px 1px #ab7373;
}

nav {
  > ul {
    display: flex;
    flex-direction: column;
  }
}
.nav__list {
  > li {
    > a {
      text-decoration: none;
      color: #f2f3f4;
    }
  }
}

.content {
  position: relative;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #516644;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  min-width: 230px;
}

.article__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
  align-content: flex-start;

  .squares__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.article {
  background: #682828;
  padding: 10px;
  max-width: 500px;
  min-width: 200px;
  justify-content: center;
  flex-grow: 1;

  .square {
    height: 40px;
    width: 40px;
    background-color: greenyellow;
    animation: 2s linear 0s infinite alternate bounce;
  }

  .square__js {
    height: 40px;
    width: 40px;
    background-color: rgb(225, 92, 10);
  }
}

@keyframes bounce {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(350%);
  }
}

.wrapper__content {
  display: flex;
  gap: 15px;
}

.aside {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 15px;
  background-color: #ef5b5b;
  min-width: 230px;
  > p {
    font-style: italic;
  }
}

.drop {
  height: auto;
}

.hide__option {
  color: transparent;
  height: 0;
}

.option {
  padding-top: 5px;
}

.footer {
  min-height: 50px;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #76589d;
}

.burger__menu {
  position: relative;
  padding: 10px;
}

#menu__toggle {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 100%;
  transform: translateX(-120%);
  width: 45px;
  height: 45px;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 5;
}

.menu__btn {
  > span,
  &::before,
  &::after {
    display: block;
    position: absolute;
    min-width: 30px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
}

.menu__btn {
  > span {
    &::before {
      content: "";
      top: -8px;
    }
    &::after {
      content: "";
      top: 8px;
    }
  }
}

.nav__list {
  display: none;
}

.nav__item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-weight: 600;
}

#menu__toggle {
  &:checked {
    ~ {
      .menu__btn {
        > span {
          transform: rotate(45deg);
          &::before {
            top: 0;
            transform: rotate(0);
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
          }
        }
      }
      .nav__list {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.1s;
      }
    }
  }
}

/*Accordion*/
#chck1,
#chck2 {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  min-width: 20px;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #f97f7f;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background: #f33c3c;
  }
  &::after {
    content: "\2192";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.3s ease-in-out;
}

input {
  &:checked {
    + {
      .tab-label {
        background: #874545;
        &::after {
          transform: rotate(90deg);
        }
      }
    }
    ~ {
      .tab-content {
        max-height: 100vh;
        padding: 1em;
      }
    }
  }
}

/*Dropdown*/
.dropbtn {
  background-color: #3a4eca;
  color: #f2f3f4;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: flex;
  padding-right: 10px;
  padding-top: 10px;
  flex-direction: column;
}

.dropdown__container {
  display: flex;
}

.dropdown-content {
  display: none;
  background-color: #e7fcff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #94cfff;
    }
  }
}

.dropdown__wrapper {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #94cfff;
    }
  }
}
.dropdown {
  &:hover {
    .dropdown-content {
      display: block;
      transition: all 0.3s ease-in-out;
    }
    .dropbtn {
      background-color: #5876c9;
      transition: all 0.3s ease-in-out;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper__content {
    flex-direction: column-reverse;
  }
  #menu__toggle {
    ~ {
      .nav__list {
        height: 50px;
      }
    }
    &:checked {
      ~ {
        .nav__list {
          height: auto;
        }
      }
    }
  }
  .burger__menu {
    position: relative;
  }
  .nav__list {
    visibility: none;
  }
  .dropdown {
    flex-wrap: wrap;
  }
  .article {
    max-width: calc(100% - 20px);
  }
}
